<?xml version="1.0" ?>
<robot name="cube.urdf">
  <link concave="yes" name="baseLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 -2"/>
        <mass value=".0"/>
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="1.5707963 0 0" xyz="0 0 -2"/>
      <geometry>
				<mesh filename="unityexport.obj" scale="0.04 0.04 0.04"/>
      </geometry>
    </visual>
    <collision concave="yes">
      <origin rpy="1.5707963 0 0" xyz="0 0 -2"/>
      <geometry>
				<mesh filename="unityexport.obj" scale="0.04 0.04 0.04"/>
      </geometry>
    </collision>
    <inertial> 
    	<mass value="0"/>
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial> 
    <contact> 
        <lateral_friction value="4"/>
    </contact>
  </link>
</robot>